@model DiscussionPlatform.Models.Platform.PlatformTopicModel

<div class="continer body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span>@Model.Platform.Name Форум</span>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <span id="headingBtn">
                    <a asp-controller="Mail" asp-action="Create" asp-route-id="@Model.Platform.Id" class="btn btn-newMail">
                        Создать
                    </a>
                </span>
            }
            <form asp-controller="Platform" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Поиск..." class="searchBar" onfocus="clearThis(this)">
                    <button type="submit" class="btn btn-platformSearch">
                        <i class="material-icons">search</i>
                    </button>
                </div>
                <input asp-for="Platform.Id" name="id" type="hidden" />
            </form>
        </div>
        <div class="sectionDescription">
            <div class="platformLogo" style="background-image: url(@Model.Platform.PlatformImageUrl)"></div>
            <p>Добро пожаловать @Model.Platform.Name </p>
            @if (!User.Identity.IsAuthenticated)
            {
                <p>
                    <span>
                        Вы должны быть
                        <a asp-controller="Account" asp-action="Register">
                            зарегистрированным пользователем,
                        </a>
                        чтобы создать новый пост
                    </span>
                </p>
            }
        </div>
    </div>
    <div class="row platformIndexContent">
        @if (Model.Mails.Any())
        {
            <table class="table table-hover table-bordered" id="platfromIndexTable">
                <tbody>
                    @foreach (var mail in Model.Mails)
                    {
                        <tr>
                            <td>
                                <div class="mailData">
                                    <div class="mailTitle">
                                        <a asp-controller="Mail" asp-action="Index" asp-route-id="@mail.Id">@mail.Title</a>
                                    </div>
                                    <div class="platfromSubTitle">
                                        <div>
                                            <span class="mailAuthor">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@mail.AuthorId">
                                                    @mail.AuthorName
                                                </a>
                                            </span>
                                            (@mail.AuthorRating)
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="platformMailCount">
                                    Replies: @mail
                                </div>
                            </td>
                            <td>
                                <div class="postDate">@mail.DateMailed</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    Нет постов
                    <a asp-controller="Mail" asp-action="Create" asp-route-id="@Model.Platform.Id">
                    </a>
                </h3>
            </div>
        }
    </div>
</div>


@section Scripts{
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}