@model DiscussionPlatform.Models.Home.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">
                Общайтесь, учитесь, делитесь знаниями
            </div>
            <p class="frontPageSubHeading">
                Это быстрорастущая платформа
            </p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Поиск..." />
                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestMails">Последние сообщения</h3>
        <table class="table table-hover" id="latestMailsTable">
            <tbody>
                @foreach(var mail in Model.LatestMails)
                {
                    <tr>
                        <td>
                            <div class="platformLogo" style="background-image: url(@mail.Platform.PlatformImageUrl); background-size=100%"></div>
                            <div class="mailTitle">
                                <a asp-controller="Mail" asp-action="Index" asp-route-id="@mail.Id">
                                    @mail.Title
                                </a>
                            </div>
                            <div class="mailSubTitles">
                                @if(mail.RepliesCount == 1)
                                {
                                    <span>@mail.RepliesCount Ответ</span>
                                }
                                @if(mail.RepliesCount == 0)
                                {
                                    <span>Нет ответов</span>
                                }
                                else
                                {
                                    <span>@mail.RepliesCount Ответов</span>
                                }
                                <span class="mailUser">
                                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@mail.AuthorId">
                                        @mail.AuthorName
                                    </a>
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>